.requisition-strip {
  background: #ffffff;
  border: 1px solid #e3e6ef;
  border-radius: 8px;
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 14px;
}

.requisition-strip-no-card {
  /* background: #ffffff; */
  /* border: 1px solid #e3e6ef; */
  border-radius: 8px;
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 12px; */
  /* margin-bottom: 14px; */
}

/* LEFT SIDE */
.req-left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.req-code {
  font-size: 0.875rem;
  font-weight: 500;
  color: #f26522;
}

.req-dates {
  display: flex;
  gap: 18px;
  font-size: 12px;
  color: #162B75;
}

.req-dates i {
  color: #162B75;
  font-size: 12px;
}

.req-title {
  font-size: 14px;
  font-weight: 600;
  color: #162B75;
}

/* RIGHT SIDE */
.req-right {
  display: flex;
  align-items: center;
}

.btn-view-position {
  background: #ffffff;
  color: #162B75;
  border: 1px solid #162B75;
  border-radius: 6px;
  padding: 6px 14px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.btn-view-position:hover {
  background: #162B75;
  color: #ffffff;
}
